html, body {
    height: 100%;
    margin: 0;

    
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer {
    margin-top: auto;
    width:100%;
}
